header{
  margin: auto;
  text-align: center;
  font-size: 40px;

  background-repeat: repeat-x;
}

table{
  background-color: gray;

}

td{
  background-color: white;

}

body {

}

table, td {
  border: 2px solid black;
}

td {
  margin: 0;
  width: 180px;
  padding: 5px;
}

th {
  background-color: #00ffff;
  padding: 5px;
  border: 1px solid black;
}


#monthlyCost{
  border: 2px solid green;
  padding: 5px;
  width: 50%;
  margin-top: 100px;



button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}

.deleteRow{
  background-color: red;


}
/* form{
  background-image: url(calc.png);



} */

/* body{
  background-image: url('calcs.jpg');
} */
